.scrollbar
{
 height: 100px;
 overflow-y: scroll;

}

  .ttr
  {
    margin-left: 300px;
  }


  .custom {
    width: 200px !important;
}

.hehi
{
  height: 50px !important;
}

.snrs
{
  width: 600px !important;
}




